.employees-list {
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .add-employee-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
  }

  .add-employee-btn:hover {
    background-color: #0056b3;
  }

  .add-employee-form,
  .edit-modal {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .form-container,
    .edit-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    label {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: bold;
      color: #333;

      input,
      select {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-top: 8px;
        width: 100%;
      }

      select {
        cursor: pointer;
      }
    }

    .submit-btn {
      padding: 12px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      width: 100%;
      margin-top: 20px;

      &:hover {
        background-color: #0056b3;
      }
    }

    .cancel-btn {
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      width: 100%;
      padding: 12px 20px;
      margin-top: 10px;

      &:hover {
        background-color: #c82333;
      }
    }
  }

  .edit-modal {
    .modal-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .save-btn {
        background-color: #28a745;
        color: white;
        padding: 12px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #218838;
        }
      }

      .cancel-btn {
        background-color: #dc3545;
        color: white;
        padding: 12px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #c82333;
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-top: 20px;

    th,
    td {
      padding: 20px;
      text-align: left;
      border-right: 1px solid #a9a6a6;
    }

    thead {
      background-color: #f5f5f5;

      th {
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
        border-bottom: 2px solid #ddd;
      }
    }

    tbody {
      tr {
        background-color: #f9f9f9;
        border-bottom: 1px solid #ddd;

        &:hover {
          background-color: #eaeaea;
        }

        td {
          color: #555;
        }

        .edit-link {
          color: #007bff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .delete-link {
          color: #007bff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .delete-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d1d1d1;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    z-index: 1000;
    overflow-y: auto;
    max-height: 80vh;
    font-family: Arial, sans-serif;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    .delete-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    p {
      font-size: 16px;
      font-weight: bold;
      color: #333;
      text-align: center;
    }

    .modal-actions {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .delete-btn,
    .cancel-btn {
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid #ccc;
      cursor: pointer;
      width: 45%;
      transition: background-color 0.3s ease;
    }

    .delete-btn {
      background-color: #dc3545;
      color: white;

      &:hover {
        background-color: #c82333;
      }
    }

    .cancel-btn {
      background-color: #6c757d;
      color: white;

      &:hover {
        background-color: #5a6268;
      }
    }

    &.fade-in {
      opacity: 0;
      animation: fadeIn 0.3s forwards;
    }
  }

  .delete-modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(187, 187, 187, 0.5);
    z-index: -1;
  }

  .edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    z-index: 1000;
    overflow-y: auto;
    max-height: 80vh;
    font-family: Arial, sans-serif;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    .edit-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    h3 {
      text-align: center;
      font-size: 18px;
      color: #333;
    }

    label {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: bold;
      color: #333;

      input,
      select {
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-top: 8px;
        width: 100%;
      }

      select {
        cursor: pointer;
      }
    }

    .modal-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }

    .save-btn,
    .cancel-btn {
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid #ccc;
      cursor: pointer;
      width: 45%;
      transition: background-color 0.3s ease;
    }

    .save-btn {
      background-color: #28a745;
      color: white;

      &:hover {
        background-color: #218838;
      }
    }

    .cancel-btn {
      background-color: #dc3545;
      color: white;

      &:hover {
        background-color: #c82333;
      }
    }

    &.fade-in {
      opacity: 0;
      animation: fadeIn 0.3s forwards;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .edit-modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
}
